.graph {
    background-color: #fff;
    position: relative;
    width: 98%;
    border: 1px solid #999;
    padding: 1px;
}
.graph .bar {
    display: block;
    padding: 2px;
    position: relative;
    background: #AEAEAE;
    color: #444;
    height: 1em;
    line-height: 1.1em;
    border: 1px solid #ccc;
}
.graph .bar span { position: absolute; left: 1em; }